:root {
  --bcColor:#181818;
  --mainTextColor:#CCCCCC;
  --titleColor:#E4902F;
  --titleColor2:#00C2FF;
  --navTextColor: #FFFFFF;

  --btn1Color: radial-gradient(50.73% 235% at 24.51% 131.52%, #FFA800 0%, #F4720A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --btn2Color: radial-gradient(66.67% 318.28% at 18.75% 190.82%, #00E4CC 0%, #0083E1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --btnTextColor: #FFEEEE;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%; 
  scroll-behavior: smooth;
}

body {
 background-color: var(--bcColor);
 color: var(--mainTextColor);
 margin-inline:auto;
 position: relative;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.logo {
    width: 10%;
    max-width: 150px;
    height: 10%;
    position: absolute;
    top: -62px;
    left: 90px;
  }


  @media only screen and (max-width: 1150px)  {
    .logo {
      width: unset;
      height: unset;
      left: 30px;
      z-index: 99;
      top: 40px;    }
  }

  
@media only screen and (max-width: 681px) {
  .logo {
    width: 60px;
    left: 22px;
    top: 13px;
  }
}