:root {
  --bcColor:#181818;
  --mainTextColor:#CCCCCC;
  --titleColor:#E4902F;
  --navTextColor: #FFFFFF;

  --btn1Color: radial-gradient(50.73% 235% at 24.51% 131.52%, #FFA800 0%, #F4720A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --btn2Color: radial-gradient(66.67% 318.28% at 18.75% 190.82%, #00E4CC 0%, #0083E1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --btnTextColor: #FFEEEE;
}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
 background-color: var(--bcColor);
 color: var(--mainTextColor);
 max-width: 1920px;
 margin-inline:auto;

}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


