.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 500px;
    background-image: linear-gradient(90deg, #181818 41.15%, rgba(24, 24, 24, 0) 69.23%, rgba(24, 24, 24, 0) 100%),
    url('/map.png');
    background-size: cover;
    background-position: center;
}


.textContainer {
    position: relative;
    min-width: 40%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 8.5rem;

}

.textContainer h3 {
    color: var(--titleColor);
    font-size: 48px;
    letter-spacing: 0.02em;
    line-height: 61px;
    font-weight: 800;
    margin-bottom: 2rem;
}


.btnContainer button:nth-child(1) {
    margin-right: 5rem;
}

.textBoxContainer  {
   max-width: 45rem;
}

.textBoxContainer div {
    font-size: 18px;
    line-height: 30px;
    display: flex;
}

.textBoxContainer div:not(:last-child) {
    margin-bottom: 1rem;
}

.textBoxContainer div:nth-child(3) {
    margin-bottom: 3rem;
}

.textBoxContainer div {
    display: flex;
    justify-content: space-between;
}