.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 500px;
    background-image: linear-gradient(90deg, #181818 41.15%, rgba(24, 24, 24, 0) 69.23%, rgba(24, 24, 24, 0) 100%),
    url('/map.png');
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1150px) {
    .container {
        background-image:none;
        height: 100%;
        min-height: 100%;
        flex-direction: column;
        background-size: none;
        justify-content: center;
        align-items: unset;
        background-position: none;
    }
}

@media only screen and (max-width: 1150px) {
    .tabletPhoto {
        min-height: 500px;
        background-image: linear-gradient(180deg, rgba(24, 24, 24, 0) 75.78%, #181818 90.25%), url('/map_tablet.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}

.textContainer {
    position: relative;
    min-width: 40%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 8.5rem;

}

@media only screen and (max-width: 1150px) {
    .textContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 10rem;
    padding-left: 4rem;
    padding-right: 4rem;
    }
}

.textContainer h3 {
    color: var(--titleColor);
    font-size: 48px;
    letter-spacing: 0.02em;
    line-height: 61px;
    font-weight: 800;
    margin-bottom: 2rem;
}


.btnContainer  {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.textBoxContainer  {
   max-width: 45rem;
}

@media only screen and (max-width: 1150px) {
    .textBoxContainer {
        max-width: 35rem;
        width: 100%;
    }
}

.textBoxContainer div {
    font-size: 18px;
    line-height: 30px;
    display: flex;
}

.textBoxContainer div:not(:last-child) {
    margin-bottom: 1rem;
}

.textBoxContainer div:nth-child(3) {
    margin-bottom: 3rem;
}

.textBoxContainer div {
    display: flex;
    justify-content: space-between;
}