.button {
    padding: 10px 20px;
    background: var(--btn1Color);
    color: var(--btnTextColor);
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 5px 10px rgba(255, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
}

.buttonGetInTouch {
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--navTextColor);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.butnBlue {
    background: var(--btn2Color) !important;
}